@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

:root{
    /* Colors, fonts & important variables */
    --primary-dark-color: #66462f;
    --secondary-dark-color: #98694f;
    --mocha-brown: #ca9e7b;
    --beige-color: #f1dfc8;
    --open-sans: 'Open Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --edge-margin: 4rem;
    --f-margin: 1rem;
}

*{
    /* Default styling */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--open-sans);
    font-size: 12pt;
    text-decoration: none;
    text-emphasis: none;
    font-weight: 400; /* regular = 400 */
}

body{
    background-color: black; /* Να δω αν γίνεται να βάλω bg color στο #banner για να αφήσω το λευκό ως default */
}

.flex{
    display: flex;
}

.flex-col{
    display:flex;
    flex-direction: column;
}

/* Κλάση για τα στοιχεία που δεν θέλω να εμφανίζονται στη mobile version */
.hidden-mobile{
    display: none;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

#topbar{
    width: 100%;
    height:2.5rem;
    background-color: var(--primary-dark-color);
    color: var(--beige-color);
    align-items: center;
    position: sticky;
    justify-content: center;
    
}

#topbar p{
    font-size: 9pt;
    font-weight: 300;      
}

.navbar{
    align-items: center;
    justify-content: space-around;
    background-color: var(--beige-color);
    height: 110px;
}

/* Κλάση για τα icons του navbar */
.fa-2x{
    color: var(--primary-dark-color);
}

#logo{
    width: 110px;
    height: 110px;
}

#banner{
    min-height: 450px;
    align-items: center;
    justify-content: center;
    color: var(--beige-color);
}

#heroimg{
    position: absolute;
    z-index: -1;
    background: url(../images/heroimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 450px;
    opacity: 0.3;
}

#content-wrapper{
    margin:var(--edge-margin);
    max-width: 800px;
}

#content-wrapper h1{
    font-size: 30pt;
    font-weight: 500;
}

#products{
    padding-top: 4rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

#products ul{
    flex-direction: column;
}

#products h1{
    text-align: center;
    font-size: 18pt;
    font-weight: 700;
    color: var(--primary-dark-color);
    margin-bottom: 2rem;
}

#products li{
    max-width: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--mocha-brown);
}

.product-info{
    padding: 1rem;
    text-align: center;
}

.product-info h2{
    font-weight: 600;
}

.product-info p{
    font-weight: 300;
}

.btn{
    display: block;
    height: 3rem;
    padding: 1rem;
    font-weight: 300;
    background-color: var(--primary-dark-color);
    color: var(--beige-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer{
    width: 100%;
    background-color: var(--secondary-dark-color);
    color: var(--beige-color);
    position: relative;
}


#sec1{
    height: auto;
    margin-left: var(--edge-margin);
    margin-right: var(--edge-margin);
}

.info{
    margin-top: var(--f-margin); 
}

#sec1 div div{
    margin-bottom: var(--f-margin);
}

#sec1 h2{
    font-weight: 600;

}

#sec1 span{
    display: block;
    font-weight: 300;
    line-height: 1.5em;
}

hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 2rem;
    border: 1px solid var(--beige-color);
}

#bottombar{
    height: 2em;
    width:100%;
    background-color: var(--primary-dark-color);
    justify-content: center;
    align-items: center;
}

#bottombar span{
    font-size: 10pt;
    font-weight: 300;
}

@media screen and (min-width: 1024px){
    /* Κλάση για τα στοιχεία που είχα κρυμμένα και στη desktop version τα θέλω*/
    .hidden-mobile {
        display: inline-block;
    }

    /* Κλάση για τα στοιχεία που δεν θέλω να εμφανίζονται στη desktop version */
    .hidden-desktop{
        display: none;
    }

    .flex{
        display: flex;
    }

    #topbar{
        width: 100%;
        height:2.5rem;
        background-color: var(--primary-dark-color);
        color: var(--beige-color);
        align-items: center;
        position: sticky; 
    }

    #smtel{
        position: absolute;
        left: var(--edge-margin); 
    }
    
    #smtel p{
        display: inline;
        
    }

    #tel{
        margin-left: 2rem;
    }

    #location {
        position: absolute;
        right: var(--edge-margin);
    }


    #logo {
        min-width: 110px;
        min-height: 110px;
        margin-left: var(--edge-margin);
    }

    #main-menu{
            list-style: none;
            align-items: center;
            margin-right: var(--edge-margin);
    }
        
    .menu-item{
            margin-left: 4em;
            text-decoration: none;
            color: var(--primary-dark-color);
            font-weight: 500;
    }
    
    .navbar{
            justify-content: space-between;
            background-color: var(--beige-color);
            height: 110px;
    }

    
    
    #products ul{
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100vw - 2*var(--edge-margin));
        justify-content: space-between;
    }

    #sec1{
        justify-content: space-between;
    }
    .links{
        list-style: none;
    }

    .links a{
        color: var(--beige-color);
        font-weight: 300;
        line-height: 1.5em;
    }
}                                                                                                                                                                                                                                                                                                          